@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

body {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1, h2, h3{
  font-weight: 300 !important;
}

.App {
  text-align: center;
}

body:after{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background:linear-gradient(rgba(0, 22, 88, 0.5), rgba(0, 4, 112, 0.5)),
  url(https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
Navbar
 */
nav.navbar .nav-custom-color{
  color: #4a4a4a;
}

.navbar-light button.navbar-toggler{
    border: none;
}

/**
Form
 */
.btn-custom{
  letter-spacing: 3px;
  background-color: #39A574 !important;
}

.form-field-opacity{
  opacity: 0.9;
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

form .form-group .form-control{
  background-color: rgb(68 68 107 / 50%) ;
  border-color: rgb(138 137 137 / 50%) ;
  width: 65%;
  color: white;
}

form .form-group textarea.form-control{
  width: 90%;
}

.form-content .wp-block-group__inner-container {
  margin-top: 3.5em !important;
}

.form-content .wp-block-group__inner-container h3 {
  margin-bottom: 0.7em;
}

.form-content .wp-block-group:first-child .wp-block-group__inner-container p {
  font-family: monospace;
  font-size: 1.25rem;
  width: 80%;
}

/*
  ##Screen =up to 991px
*/

@media (max-width: 991px) {
  body:after {
    height: 165%;
  }

  form .form-group .form-control {
    width: 100%;
  }

  form .form-group textarea.form-control {
    width: 100%;
  }
}
